@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(17 24 39); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(251, 113, 113); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(17 24 39); /* creates padding around scroll thumb */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container,
.change {
  display: inline-block;
  cursor: pointer;
  padding: 0 0.5em;
  width: max-content;
  z-index: 21;
  position: fixed;
}

.container {
  position: relative;
}

.change {
  position: fixed;
}

@media screen and (min-width: 768px) {
  .container {
    display: none;
  }
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  /* background-color: #333; */
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.btn {
  @apply text-center duration-300 ease-in relative block -z-neg1 py-3 border-2 border-solid border-slate-900 rounded outline-none before:transition-all before:duration-500 before:ease-in before:absolute before:top-0 before:left-1/2 before:right-1/2 before:bottom-0 before:opacity-0 before:content-[''] before:bg-slate-900 hover:before:transition-all hover:before:duration-500 hover:before:ease-in hover:before:left-0 hover:before:right-0 hover:before:opacity-100 hover:before:z-neg1 hover:text-white hover:font-bold hover:tracking-widest focus:border-red-400 focus:scale-105 focus:text-red-400;
}
.list-item {
  @apply text-2xl font-medium font-mono py-1 px-2 focus:scale-105 hover:scale-105 hover:outline rounded transition-all;
}
.list-item-desk {
  @apply text-lg font-medium font-mono py-1 px-2 focus:scale-105 hover:scale-105 hover:outline rounded transition-all text-slate-200;
}
.skill-tech {
  @apply cursor-auto font-medium px-5 py-2 bg-gradient-to-r from-lime-500 to-lime-600 text-white text-xs md:text-sm rounded shadow-lg;
}
.tech {
  @apply cursor-auto font-medium px-5 py-2 bg-lime-500 tracking-widest text-white text-xs rounded shadow-lg;
}
.neutral-col {
  @apply text-neutral-500;
}
.contact-p {
  @apply tracking-wide;
}
.spacer {
  @apply font-black text-2xl mb-2;
}
.socials-cont {
  @apply flex justify-center neutral-col gap-4 mt-1;
}
.details-h1 {
  @apply text-6xl font-black text-slate-900;
}
.details-h2 {
  @apply text-3xl font-black md:text-2xl tracking-widest text-slate-900 mb-3;
}
.details-p {
  @apply text-base font-mono md:text-lg text-slate-700;
}
/* .form-input {
  @apply transition-all font-medium text-base w-11/12 focus:w-full p-4 border-2 rounded-2xl border-slate-400 outline-none peer focus:border-slate-900 valid:border-lime-500 invalid:border-red-600;
}

.form-placeholder-span {
  @apply absolute my-4 px-1 flex items-center top-0 left-5 transition-all duration-200 origin-[0%_0%] bg-none pointer-events-none text-lg font-medium text-slate-500 peer-focus:scale-75 peer-focus:-translate-y-7 peer-focus:bg-white peer-focus:text-slate-900;
} */

.bd {
  position: absolute;
  overflow: hidden;
  bottom: 17px;
  left: 33.333%;
  width: 50px;
  height: 33px;
  background: rgb(243, 243, 243);
  border-radius: 55% 45% 45% 55% / 69% 82% 18% 31%;
}
